mat-nav-list {
  display: block;
}

mat-nav-list .nav-list-item {
  text-align: left;
  font-size: 13px;
  display: block;
  width: 205px !important;
}

.user-pic {
  width: 200px;
  height: 200px;
  margin: 1rem;
  position: relative;
  border-radius: 100px;
  border: #acacac 2px solid;
}

.user-name {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: bold;
  justify-content: center !important;
  text-align: center !important;
}

.user-position {
  font-size: 13px;
  justify-content: center !important;
  text-align: center !important;
}

